<title>Uv index</title>
<link rel="stylesheet" href="/Styles/style1.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Mogra&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap"
  rel="stylesheet"
/>
<body>
  <div id="main">
    <h1>SPF Me Up</h1>
    <p>
      🔆 Your daily dose of sun-sense.🔆<br />
      ✨We check the UV index and tell you if it’s time to slap on that SPF—or
      if you can chill, sun-safe and carefree✨
    </p>
  </div>
  <div id="butt">
    <form action="/auto">
      <button type="submit">Check UV for My Spot</button>
    </form>
    <form action="/cordi">
      <button type="submit">Enter Coordinates</button>
    </form>
  </div>
</body>
