body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#butt{
    display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        gap: 20px;
        height: 10px;
}

h1{
    font-family: "Mogra", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
p{
    font-family: "Indie Flower", cursive;
        font-weight: 1000;
        font-style: normal;
        font-size: 25px;
}